{{ define "main" }}


<div class="hero bg-base-200 rounded-lg shadow-sm mt-4">
  <section class="hero-content flex-col">
    <h1 class="text-5xl font-bold">{{site.Title}}</h1>
    <div class="py-6">
      {{.Content}}
    </div>
    <a class="btn btn-primary" href="#anchor-first">{{i18n "btn_explore"}}</a>
  </section>
</div>

{{ range site.Params.BlogContentKinds }}
{{/* Store the pages for the current section in a variable */}}
{{ $pagesInSection := where site.RegularPages ".Section" .section }}
{{ $pt := "pt-0" }}

<div id="anchor-first" class="rounded-xl bg-base-200 shadow-md p-4 mt-4">
  <a class="text-xl font-semibold grow" href="{{- .url -}}">{{- .name -}}</a>
</div>
<div class="p-4 flex flex-col">
  {{ if $pagesInSection}}
  {{/* if there's content */}}
  <div class="flex flex-row flex-wrap gap-4 justify-center">
    {{ partial "home/content_thumbnail.html" (dict "pagesInSection" (first .maxShow $pagesInSection)
    ) }}
  </div>
  {{/* show button more if len is more than maxShow */}}
  {{ if gt (len $pagesInSection) .maxShow }}
  <a href="{{- .url -}}" class="btn btn-secondary mt-4 mx-auto">{{ i18n "btn_more" }} {{ .name }}...</a>
  {{end}}
  {{ else }}
  {{/* no content */}}
  <div class="hero bg-base-300 min-h-28">
    <div class="hero-content text-center">
      <section class="max-w-md">
        <h1 class="text-5xl font-bold">{{i18n "sorry"}}...</h1>
        <p class="py-6">
          {{i18n "no_content_section"}}
        </p>
      </section>
    </div>
  </div>
  {{ end }}

</div>

{{ end }}
{{ end }}