<footer class="bg-base-300 text-base-content p-10">
    <div class="footer sm:footer-horizontal  max-w-7xl mx-auto">

        <aside>
            <img class="size-14" src="{{site.Params.BlogSettings.logo}}" alt="{{.Site.Title}} logo">
            <a href="{{.Site.Home.Permalink}}" class="font-semibold text-xl">
                {{- site.Params.BlogSettings.footerTitle -}}
            </a>
            <p class="text-base font-normal">Copyright &copy; {{ now.Year }} - All right reserved.</p>

        </aside>

        <nav>
            <h6 class="footer-title">Website</h6>


            {{ with site.GetPage `configure-cookie.md` }}
            <a href="{{ .RelPermalink }}">{{i18n "configure_cookie" | default "Configure cookie"
                }}</a>
            {{ end }}
            {{ with site.GetPage `about-us.md` }}
            <a href="{{ .RelPermalink}}" class="link link-hover">{{ i18n "about_us" | default "About us"
                }}</a>
            {{ end }}
            {{ with site.GetPage `contact-us.md` }}
            <a href="{{ .RelPermalink  }}" class="link link-hover">{{ i18n "contact_us" | default `Contact
                us`
                }}</a>
            {{end}}

            {{ with .OutputFormats.Get "RSS" -}}
            {{ $name := (or $.Page.LinkTitle $.Page.Title) }}

            {{ if $.Page.IsHome }}
            {{ $name = $.Site.Title }}
            {{ end }}
            <a href="{{ .RelPermalink }}" class="link link-hover"> {{i18n "rss" $name }}</a>
            {{- end }}
        </nav>

        <nav>
            <h6 class="footer-title">Legal</h6>

            {{ with site.GetPage `term-of-use.md` }}
            <a href="{{ .RelPermalink }}">{{i18n "term_of_use" | default "Term of use" }}</a>
            {{end}}

            {{ with site.GetPage `privacy-policy.md` }}
            <a href="{{ .RelPermalink }}" class="link link-hover">{{i18n "privacy_policy" | default
                `Privacy policy` }}</a>
            {{end}}

            {{ with site.GetPage `cookie-policy.md` }}
            <a href="{{ .RelPermalink }}" class="link link-hover">{{i18n "cookie_policy" | default
                `Cookie policy`}}</a>
            {{end}}
        </nav>
    </div>

</footer>