{{- $defaultThumbnail := .Section | site.GetPage }}
{{- $imagePath := .Params.image | default $defaultThumbnail.Params.defaultThumbnail -}}

{{- $title := .Title -}}

{{ if .IsHome }}
{{ $title = site.Title}}
{{ else if lt (len .Title) 50}}
{{$title = printf "%s | %s" .Title site.Title}}
{{else}}
{{$title = .Title}}
{{ end }}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{/* meta tag */}}
{{ with .Params.authors }}
<meta name="author" content="{{ delimit . `, `}}">
{{ end }}
<meta name="description" content="{{(.Description | default .Summary)}}">
{{ with .Params.keywords }}
<meta name="keywords" content="{{ delimit . `, ` }}">
{{ end }}

{{/* meta opengraph */}}
<meta property="og:type" content="website">
<meta property="og:url" content="{{.Permalink}}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{$title}}">

<meta property="og:description" content="{{(.Description | default .Summary)}}">

{{- with $imagePath -}}
<meta property="og:image" content="{{ . | absURL }}">
{{- end -}}

{{/* Twitter Cards */}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{$title}}">
<meta name="twitter:description" content="{{(.Description | default .Summary)}}">
{{- with $imagePath -}}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- end -}}

{{/* Robot tag */}}
{{ if or (eq .Kind `taxonomy`) (eq .Kind `term`)}}
<meta name="robots" content="noindex, follow">

{{ else if (eq .Kind `404`) }}
<meta name="robots" content="noindex, nofollow">

{{else}}
<meta name="robots" content="index, follow">
{{ end }}

{{/* canonical */}}
{{ if eq .Kind "404" }}
<link rel="canonical" href="{{site.Home.Permalink}}">

{{else}}
<link rel="canonical" href="{{.Permalink}}">
{{ end }}

{{/* Favicon */}}
{{ with site.Params.favicon }}
<link rel="icon" href="{{ . | relURL }}">
{{ end }}

{{/* alternate languages */}}
{{ if (not (eq .Kind "404")) }}
{{$translations:=.AllTranslations}}
{{$permalink:=.Permalink}}
{{ if gt (len $translations) 0 }}

{{/* loop all language translation */}}
{{ range $translations }}
<link rel="alternate" href="{{.Permalink}}" hreflang="{{.Language.Lang}}">
{{ end }}

{{/* seek en language page and set default lang */}}
{{ range $translations }}
{{ if eq .Language.Lang "en" }}
<link rel="alternate" href="{{.Permalink}}" hreflang="x-default">
{{ end }}
{{ end }}

{{ end }}
{{ end }}

{{/* RSS Feed */}}
{{ with site.Home.OutputFormats.Get "RSS" -}}
<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ site.Title }}">
<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ site.Title }}">
{{- end }}

<title>{{$title}}</title>

{{/* website schema on home only */}}
{{ if .IsHome }}
{{ partial "home/website_schema.html" }}
{{ end }}

{{/* webpage schema */}}
{{ if and (not .IsHome) (not (eq .Kind "404")) }}
{{ partial "page/webpage_schema.html" . }}
{{ end }}

{{/* breadcrumbs data */}}
{{ if and (not .IsHome) (not (eq .Kind "404")) }}
{{ partial "page/breadcrumbs_data.html" . }}
{{ end }}

{{/* {{ partialCached "head/css.html" . }} */}}
{{ partialCached "head/js.html" . }}

<link rel="stylesheet" href="/css/gix-style.css">