{{- $sectionConfig := index (where site.Params.BlogContentKinds "section" .Section) 0 -}}
{{- $contentThumbnail := $sectionConfig.defaultThumbnail -}}
{{- $imagePath := .Params.image | default $contentThumbnail -}}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{/* meta tag */}}
{{ with .Params.author }}
<meta name="author" content="{{.}}">
{{ end }}
{{ with .Description }}
<meta name="description" content="{{.}}">
{{ end }}
{{ with .Params.keywords }}
<meta name="keywords" content="{{ delimit . `, ` }}">
{{ end }}

{{/* meta opengraph */}}
<meta property="og:type" content="website">
<meta property="og:url" content="{{.Permalink}}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{.Title}}">
{{ with .Description }}
<meta property="og:description" content="{{.}}">
{{ end }}

{{- with $imagePath -}}
<meta property="og:image" content="{{ . | absURL }}">
{{- end -}}

{{/* Twitter Cards */}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{.Title}}">
{{ with .Description }}
<meta name="twitter:description" content="{{.}}">
{{ end }}
{{- with $imagePath -}}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- end -}}

{{/* canonical */}}
<link rel="canonical" href="{{.Permalink}}">

{{/* Favicon */}}
{{ with site.Params.favicon }}
<link rel="icon" href="{{ . | relURL }}">
{{ end }}

{{/* alternate */}}

{{$translations:=.AllTranslations}}
{{$permalink:=.Permalink}}
{{ if gt (len $translations) 0 }}

{{/* loop all language translation */}}
{{ range $translations }}
<link rel="alternate" href="{{.Permalink}}" hreflang="{{.Language.Lang}}">
{{ end }}

{{/* seek en language page and set default lang */}}
{{ range $translations }}
{{ if eq .Language.Lang "en" }}
<link rel="alternate" href="{{.Permalink}}" hreflang="x-default">
{{ end }}
{{ end }}

{{ end }}

{{/* RSS Feed */}}
{{ with site.Home.OutputFormats.Get "RSS" -}}
<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ site.Title }}">
<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ site.Title }}">
{{- end }}

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}</title>

{{/* website schema */}}
{{ partial "page/website_schema.html" }}

{{/* breadcrumbs data */}}
{{ if not .IsHome }}
{{ partial "page/breadcrumbs_data.html" . }}
{{ end }}

{{/* {{ partialCached "head/css.html" . }} */}}
{{ partialCached "head/js.html" . }}

<link rel="stylesheet" href="/css/gix-style.css">