{{- $types := (dict) -}}

{{ if and .IsPage (ne .Kind `taxonomy`) (ne .Section ``) }}
{{ $types = (dict
"@type" "BlogPosting"
"headline" .Title
"mainEntityOfPage" (dict
"@type" "WebPage"
"url" .Permalink)
)
}}
{{ else }}
{{ $types = (dict "@type" "WebPage" )}}
{{ end }}

{{- $authors := slice -}}
{{- if .Params.authors -}}
{{- range .Params.authors -}}
{{- $authors = $authors | append (dict "type" "Person" "name" .) -}}
{{- end -}}
{{- end -}}

{{- $schema :=(dict
"@context" "https://schema.org"
"name" .Title
"url" .Permalink
"description" (.Description | default .Summary)
"inLanguage" .Language.Lang
"datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
"dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
"isPartOf" (dict
"@type" "WebSite"
"name" site.Title
"url" site.Home.Permalink
)
)
-}}

{{- if gt (len $authors) 0 -}}
{{- $schema = merge $schema (dict "author" $authors) -}}
{{- end -}}

<script type="application/ld+json">
    {{
       (merge $schema $types) | jsonify
    }}
</script>