{{/* Store pages in section: All pages in posts or All pages in news */}}
{{- $pagesInSection := .pagesInSection }}

{{ range $pagesInSection }}
<div class="card bg-base-100 w-full sm:w-96 shadow-md">
    <figure class="w-full h-48 bg-base-200">
        {{- $sectionConfig := index (where site.Params.BlogContentKinds "section" .Section) 0 -}}
        {{- $contentThumbnail := $sectionConfig.defaultThumbnail -}}
        {{- $imagePath := .Params.image | default $contentThumbnail -}}
        {{- with $imagePath -}}
        <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="w-full h-full object-cover" />
        {{- end -}}
    </figure>
    <div class="card-body">
        <a class="card-title tooltip" href="{{ .RelPermalink }}" data-tip="{{.LinkTitle}}">
            {{ .LinkTitle | truncate 120 }}
        </a>
        <p>{{ .Summary | truncate 120 }}</p>
        <div class="card-actions justify-end">
            <a class="btn btn-primary" href="{{ .RelPermalink }}">{{i18n "read"}}</a>
        </div>
    </div>
</div>

{{ end }}